<%layout("/layouts/boilerPlate")%>

    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h1>Create New Listings</h1>
            
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input name="listing[title]" class="form-control" placeholder="Enter title" type="text" required/>
            <div class="invalid-feedback">Please provide valid Title</div>
        </div>
        
        <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea name="listing[description]" class="form-control" placeholder="Enter description" required></textarea>
            <div class="invalid-feedback">Please provide valid Description</div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="image">Upload Listing Image</label>
            <input name="listing[image]" class="form-control"  type="file" />
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label class="form-label" for="price">Price</label>
                <input name="listing[price]" class="form-control" placeholder="Enter price"   required/>
                <div class="invalid-feedback">Please provide valid Price</div>
            </div>
            
            <div class="mb-3 col-md-8">
                <label class="form-label" for="countrty">Country</label>
                <input name="listing[countrty]" class="form-control"  placeholder="Enter countrty" type="text" required/>
                <div class="invalid-feedback">Please provide valid Country</div>
            </div>
        </div>
        
        
        <div class="mb-3">
            <label class="form-label" for="location">Location</label>
            <input name="listing[location]" class="form-control" placeholder="Enter location" type="text" required/>
            <div class="invalid-feedback">Please provide valid Location</div>
        </div>

        <button class="btn btn-dark add-btn mt-3">Add</button>
        
    </form>
    <br>
    </div>
</div>
